{% extends 'blog.html'%}

{%block content%}
<form class="form-login" method='POST'>
        <h2 class="form-login-heading">LOGIN</h2>
		<div>
        <label>Username</label>
        <input type="text" placeholder="username" name='username' required autofocus><br>
		</div>
		<div>
        <label>Password</label>
        <input type="password" placeholder="Password" name='password'></div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
		<p class='error'> {{error}} </p>
        <div><button class="btn btn-primary" type="submit">Sign in</button></div>
      </form>
{%endblock%}

