{% extends 'blog-post.html'%}

<!-- {%block link%} -->

<!-- {%endblock%} -->
{% block content %}
<form method="post" class="text-left">
    <h1>Create New Post</h1>

    <!-- Title -->
    <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-control" name="title" placeholder="title" id="title" required>

    </div>

    <!-- Content -->
    <div class="form-group">
        <label for="comment">Content: </label>
        <textarea class="form-control" rows="10" id="comment" name="content" placeholder="Type content here" type="text" required></textarea>
    </div>

    <!-- Catalogues -->
    <div class="form-group">
        <label for="catalogues">Catalogues:</label>
        <select class="form-control" id="catalogues" name="catalogue">
            {%if catalogues%}
            {%for catalogue in catalogues%}
            <option>{{catalogue.name}}</option>
            {%endfor%}
            {%endif%}
        </select>
    </div>

    <!-- Tags -->
    <div class="form-group">
        <label for="tags">Tags:</label>
        <select multiple class="form-control" id="tags" name="tags">
            {%if tags%}
            {%for tag in tags%}
            <option>{{tag.name}}</option>
            {%endfor%}
            {%endif%}
        </select>
    </div>
    <p class="error">{{error}}</p>

    <!-- <input type="submit" value="create"> -->
    <button type="submit" class="btn btn-default">Create</button>
</form>
{%endblock%}