 {% extends 'blog-post.html'%}

 {% block content %}
 <div class="main-column col-lg-8">
   {%if posts%}
   {% for p in posts %}
   <div class="well">
       <div>
           <h2 class="">
            <a href="{{url_for('post.show_post', post_id=p.id)}}">
                {{p.title}}
            </a>
        </h2>
        <p class="lead"> by
            <a href="#">
                {{p.users.username}}
            </a>
        </p>
        <p class="">
            <span class="glyphicon glyphicon-time">
            </span>
            Posted on {{p.pub_date.strftime('%Y-%m-%d %H:%M')}}
        </p>
    </div>
    <hr>
    <p>{{p.content | safe}}</p>
    <br>
    {%if p.tags%}
    <span>Tags: </span>
    {%for tag in p.tags%}
    <a href="{{url_for('post.show_posts_of_tag', tag_name=tag.name)}}">{{tag.name}}, </a>
    {%endfor%}
    {%endif%}
</div>

{%endfor%}

{%else%}
<h4> Have no post. </h4>
<a href="{{url_for('post.new_post')}}"><span>Create New Post</span></a>
{%endif%}
</div>

<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4 col-lg-4">

    <!-- Blog Search Well -->
    <div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>

    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Categories</h4>
        <div class="row">
            <ul class="list-unstyled">

                {%if categories%}
                {%for category in categories%}
                <div class="col-lg-6">
                    <li><a href="{{url_for('post.show_posts_of_category', category_name=category.name)}}">{{category.name}}</a></li>
                </div>
                {%endfor%}
                {%endif%}
            </ul>
        </div>
        <!-- /.row -->
    </div>


    <!-- Side Widget Well -->
    <div class="well">
        <h4>About me</h4>
        <p>Hi guys, I'm Trung Hiếu and this is my blog project.</p>
    </div>

</div>

{% endblock %}