<!DOCTYPE html>
<html lang="en">
<head>
 {%block head%}
 {%endblock%}
</head>
<body>
  {%block body%}

  <!-- Navigation -->
  {%block nav%}
  {% endblock %}
  <!-- End Navigation -->

  {% endblock %}
  <!-- End Body-->

  <!-- Begin footer -->
  {%block footer%}
  <!-- End footer -->
  {%endblock%}

  {%block script%}
  <!-- <script type="text/javascript" src="{{url_for('static', filename="bootstrap/js/jquery-2.2.0.min.js")}}"></script> -->
  <!-- <script type="text/javascript" src="{{url_for('static', filename="bootstrap/js/bootstrap.min.js")}}"></script> -->
  {%endblock%}
</body>
</html>