{% extends 'base.html'%}


{%block head%}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="udacity-grader" content="relative_path_to_tests.json">
<title>My page</title>
<link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet'>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="bootstrap/css/bootstrap.min.css")}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="bootstrap/css/bootstrap-theme.min.css")}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="css/blog.css")}}">
{%endblock%}

<!-- Begin body -->
{%block body%}
<!-- Navigation -->
{%block nav%}

 <nav class="navbar navbar-default">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle navbar-collapse" data-toggle="collapse" data-target="#exam">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">100 Days Of Code</a>
  </div>

  <div class="navbar-collapse" id="exam">
    <ul class="nav navbar-nav navbar-right">
	  {% if not session.logged_in %}
      <li class="active"><a href="{{url_for('main.login')}}">Login</a></li>
      <li><a href="{{url_for('main.sign_up')}}">SignUp</a></li>
	  {%else%}
		<li><a href="#"><strong>{{session['username']}}</strong></a></li>
	  {%endif%}
	  
      <li class="dropdown">
        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
         Python
         <b class = "caret"></b>
       </a>

       <ul class = "dropdown-menu">
         <li class = "divider"></li>
         <li><a href = "{{url_for('post.show_all_posts')}}">Post Blog</a></li>
         <li><a href = "{{url_for('post.new_post')}}">New Post</a></li>

         <li class = "divider"></li>
         <li><a href = "{{url_for('main.about')}}">About</a></li>
		 
		{% if session.logged_in %}
         <li class = "divider"></li>
         <li><a href = "{{url_for('main.logout')}}">Logout</a></li>
		{%endif%}
       </ul>

     </li>
   </ul>
 </div>
 </nav>

{% endblock %}
<!-- End Navigation -->

<!-- Begin Body-->
<div class="container">
  <div class="row">
	
	{% with messages = get_flashed_messages() %}
	
	  {% if messages %}	   
		<li><strong>{{messages[-1]}}</strong></li>	 
	  {% endif %}
	  
     {% endwith %}
	
    {%block content%}
    {%endblock%}

  </div>
</div>
{% endblock %}
<!-- End Body-->





{%block script%}
  <script type="text/javascript" src="{{url_for('static', filename="bootstrap/js/jquery-2.2.0.min.js")}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename="bootstrap/js/bootstrap.min.js")}}"></script>

  {%endblock%}
  
<!-- Begin footer -->
{%block footer%}

  <div class="container">
	<div class="row">
    <hr>
    <p class=" text-center">
      @ Copyright 2016 Bos Hieu
	  </p>
	 </div>
	</div>

{%endblock%}
<!-- End footer -->
