 {% extends 'blog.html'%}

 {% block content %}
 <div class="post col-sm-6 col-md-12 col-xs-12">
     <div class="post-heading">
         <div class="post-title">
           {{post.title}}
        </div>
        <div class="post-date">
			<a href="{{url_for('blog.all_posts')}}"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
            <a href="{{url_for('blog.edit_post',post_id = post.id)}}"><span class="glyphicon glyphicon-edit"></span></a>
			<a href="{{url_for('blog.delete_post',post_id = post.id)}}"><span class="glyphicon glyphicon-remove"></span></a>
            {{post.pub_date.strftime("%H:%M %b %d, %Y")}}
        </div>
    </div>

    <div class="post-content">
        {{post.content | safe}}
    </div>


</div>
{% endblock %}